PRODUCTS/AMPEL360/AMPEL360_AIR_TRANSPORT/BWB-Q100/domains/AAA/ata/ATA-57/docs/S1000D/schemas/proced.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- S1000D Issue 6.0 Procedural Data Module Schema (simplified for validation) -->
  
  <xs:element name="dmodule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identAndStatusSection"/>
        <xs:element name="content"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>