PRODUCTS/AMPEL360/BWB-Q100/domains/AAA/ata/ATA-57/S1000D/schemas/brex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- S1000D Issue 6.0 BREX Data Module Schema (simplified for validation) -->
  
  <xs:element name="dmodule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="identAndStatusSection"/>
        <xs:element ref="content"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="identAndStatusSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmAddress"/>
        <xs:element ref="dmStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmIdent"/>
        <xs:element ref="dmAddressItems"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmIdent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmCode"/>
        <xs:element ref="language"/>
        <xs:element ref="issueInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmCode">
    <xs:complexType>
      <xs:attribute name="modelIdentCode" type="xs:string" use="required"/>
      <xs:attribute name="systemDiffCode" type="xs:string" use="required"/>
      <xs:attribute name="systemCode" type="xs:string" use="required"/>
      <xs:attribute name="subSystemCode" type="xs:string" use="required"/>
      <xs:attribute name="subSubSystemCode" type="xs:string" use="required"/>
      <xs:attribute name="assyCode" type="xs:string" use="required"/>
      <xs:attribute name="disassyCode" type="xs:string" use="required"/>
      <xs:attribute name="disassyCodeVariant" type="xs:string" use="required"/>
      <xs:attribute name="infoCode" type="xs:string" use="required"/>
      <xs:attribute name="infoCodeVariant" type="xs:string" use="required"/>
      <xs:attribute name="itemLocationCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="language">
    <xs:complexType>
      <xs:attribute name="languageIsoCode" type="xs:string" use="required"/>
      <xs:attribute name="countryIsoCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="issueInfo">
    <xs:complexType>
      <xs:attribute name="issueNumber" type="xs:string" use="required"/>
      <xs:attribute name="inWork" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmAddressItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="issueDate"/>
        <xs:element ref="dmTitle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="issueDate">
    <xs:complexType>
      <xs:attribute name="year" type="xs:string" use="required"/>
      <xs:attribute name="month" type="xs:string" use="required"/>
      <xs:attribute name="day" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="techName"/>
        <xs:element ref="infoName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="techName" type="xs:string"/>
  <xs:element name="infoName" type="xs:string"/>
  
  <xs:element name="dmStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="security"/>
      </xs:sequence>
      <xs:attribute name="issueType" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="security">
    <xs:complexType>
      <xs:attribute name="securityClassification" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rules"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ruleGroup" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ruleGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="brParas"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="brParas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="brPara" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="brPara">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="brTitle"/>
        <xs:element ref="brText"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="brTitle" type="xs:string"/>
  <xs:element name="brText" type="xs:string"/>
</xs:schema>