PRODUCTS/AMPEL360/BWB-Q100/domains/AAA/ata/ATA-57/S1000D/schemas/cir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="commonInfoRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cirIdent">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cirCode" type="xs:string"/>
              <xs:element name="cirType" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="content" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>