PRODUCTS/AMPEL360/BWB-Q100/domains/AAA/ata/ATA-57/S1000D/schemas/ddn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ddn">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="packageId" type="xs:string"/>
        <xs:element name="sender" type="xs:string"/>
        <xs:element name="recipient" type="xs:string"/>
        <xs:element name="created" type="xs:string"/>
        <xs:element name="items" minOccurs="1" maxOccurs="1">
          <xs:complexType><xs:sequence>
            <xs:element name="item" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="path" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence></xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>