PRODUCTS/AMPEL360/BWB-Q100/domains/AAA/ata/ATA-57/S1000D/schemas/dmrl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- S1000D Issue 6.0 Data Module Requirements List (DMRL) Schema -->
  
  <xs:element name="dmrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="identAndStatusSection"/>
        <xs:element ref="content"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="identAndStatusSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmrlAddress"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmrlAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmrlIdent"/>
        <xs:element ref="issueInfo"/>
        <xs:element ref="dmrlTitle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmrlIdent">
    <xs:complexType>
      <xs:attribute name="dmrlCode" type="xs:string" use="required"/>
      <xs:attribute name="languageIsoCode" type="xs:string" use="required"/>
      <xs:attribute name="countryIsoCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="issueInfo">
    <xs:complexType>
      <xs:attribute name="issueNumber" type="xs:string" use="required"/>
      <xs:attribute name="inWork" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmrlTitle" type="xs:string"/>
  
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmRequirement" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmRequirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmRefIdent"/>
        <xs:element ref="reqComment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmRefIdent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmCode"/>
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmCode">
    <xs:complexType>
      <xs:attribute name="modelIdentCode" type="xs:string" use="required"/>
      <xs:attribute name="systemDiffCode" type="xs:string" use="required"/>
      <xs:attribute name="systemCode" type="xs:string" use="required"/>
      <xs:attribute name="subSystemCode" type="xs:string" use="required"/>
      <xs:attribute name="subSubSystemCode" type="xs:string" use="required"/>
      <xs:attribute name="assyCode" type="xs:string" use="required"/>
      <xs:attribute name="disassyCode" type="xs:string" use="required"/>
      <xs:attribute name="disassyCodeVariant" type="xs:string" use="required"/>
      <xs:attribute name="infoCode" type="xs:string" use="required"/>
      <xs:attribute name="infoCodeVariant" type="xs:string" use="required"/>
      <xs:attribute name="itemLocationCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="language">
    <xs:complexType>
      <xs:attribute name="languageIsoCode" type="xs:string" use="required"/>
      <xs:attribute name="countryIsoCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="reqComment" type="xs:string"/>
  
</xs:schema>