PRODUCTS/AMPEL360/BWB-Q100/domains/AAA/ata/ATA-57/S1000D/schemas/pm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- S1000D Issue 6.0 Publication Module Schema (simplified for validation) -->
  
  <xs:element name="pm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="identAndStatusSection"/>
        <xs:element ref="content"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="identAndStatusSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pmAddress"/>
        <xs:element ref="pmStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pmAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pmIdent"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pmIdent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pmCode"/>
        <xs:element ref="pmTitle"/>
        <xs:element ref="issueInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pmCode">
    <xs:complexType>
      <xs:attribute name="pmIssuer" type="xs:string" use="required"/>
      <xs:attribute name="pmNumber" type="xs:string" use="required"/>
      <xs:attribute name="pmVolume" type="xs:string" use="required"/>
      <xs:attribute name="languageIsoCode" type="xs:string" use="required"/>
      <xs:attribute name="countryIsoCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pmTitle" type="xs:string"/>
  
  <xs:element name="issueInfo">
    <xs:complexType>
      <xs:attribute name="issueNumber" type="xs:string" use="required"/>
      <xs:attribute name="inWork" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pmStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="security"/>
      </xs:sequence>
      <xs:attribute name="issueType" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="security">
    <xs:complexType>
      <xs:attribute name="securityClassification" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pmEntry" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pmEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pmEntryTitle"/>
        <xs:element ref="contentRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="pmEntryTitle" type="xs:string"/>
  
  <xs:element name="contentRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmRefIdent"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmRefIdent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dmCode"/>
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dmCode">
    <xs:complexType>
      <xs:attribute name="modelIdentCode" type="xs:string" use="required"/>
      <xs:attribute name="systemDiffCode" type="xs:string" use="required"/>
      <xs:attribute name="systemCode" type="xs:string" use="required"/>
      <xs:attribute name="subSystemCode" type="xs:string" use="required"/>
      <xs:attribute name="subSubSystemCode" type="xs:string" use="required"/>
      <xs:attribute name="assyCode" type="xs:string" use="required"/>
      <xs:attribute name="disassyCode" type="xs:string" use="required"/>
      <xs:attribute name="disassyCodeVariant" type="xs:string" use="required"/>
      <xs:attribute name="infoCode" type="xs:string" use="required"/>
      <xs:attribute name="infoCodeVariant" type="xs:string" use="required"/>
      <xs:attribute name="itemLocationCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="language">
    <xs:complexType>
      <xs:attribute name="languageIsoCode" type="xs:string" use="required"/>
      <xs:attribute name="countryIsoCode" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>