PRODUCTS/AMPEL360/AMPEL360_AIR_TRANSPORT/BWB-Q100/domains/AAA/ata/ATA-57/S1000D/schemas/access_control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.s1000d.org/csdb/access"
           elementFormDefault="qualified">
  <xs:element name="accessControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="roles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="role" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="policies">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="policy" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="role" type="xs:string" use="required"/>
                  <xs:attribute name="resource" type="xs:string" use="required"/>
                  <xs:attribute name="action" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>